# Specify filepatterns you want git to ignore.
*.pyc
*.pcap
py/KitNET/models/
py/eval/
runs/
*.patch
*.tgz
*.log
*.report
build
*.vscode
bf-sde-*
zlog-cfg-cur
*.log
bf_drivers.log*
autogen
__pycache__
env
*.tsv
cache/**/*.txt